@font-face {
    font-family: Proxima Nova; 
    src: 
        url('../fonts/ProximaNova-Regular.ttf'); 
}

@font-face {
    font-family: Proxima Nova Bold; 
    src:
        url('../fonts/ProximaNova-Bold.ttf'); 
}

@font-face {
    font-family: Proxima Nova Light; 
    src:
        url('../fonts/ProximaNova-Light.ttf'); 
}

@font-face {
    font-family: Proxima Nova Semibold;
    src: url('../fonts/ProximaNova-Semibold.ttf');
}