
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    
    @font-face {
    font-family: Proxima Nova; 
    src: 
        url('./fonts/ProximaNovaExCn-Regular.ttf'); 
    }

    @font-face {
    font-family: Proxima Nova Bold; 
    src:
        url('./fonts/ProximaNovaExCn-Bold.ttf'); 
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        height: auto;
    }


    
    .rocket{
        width: 16px;
        height: 16px;
        left: 135px;
        top: 45px;

    }
    .uxepress{
        
        width: 100px;
        height: 14px;
        left: 155px;
        top: 47px;
        
    }

    @media (max-width:400px) {
        .line{
            display:none;
        }
        .header_name{
            display:none;
        }
        .header_telephone_img{
            display:none;
        }
        
    }
    @media (min-width:430px){
        .line{
            margin-left: 50px;
            margin-right: 30px;
            width: 14px;
            height: 16px;
            left: 305px;
            top: 46px;
        }
        .header_name{
            font-size: 13px; 
            color: #A9C5E0 
        }
        .header_telephone_img{
            display: flex;
            flex-direction: row;
            justify-content:center;
            margin-right: 5px;
            align-items: center;
        }
    }
    
    @media (max-width:999px) {
        .top_block_blue{
            width: 100vw;
            min-height: 600px;
            height: auto;
            background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
            padding: 10px 10px 0px 10px;   
        }
    }

    @media(min-width: 1000px){
        .top_block_blue{
            width: 100vw;
            min-height: 600px;
            height: auto;
            background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
            padding: 46px 30px 0px 46px;   
        }
    }
    
    

    @media (max-width:400px) {
        .need-hide{
            display:none;
        }
    }

    @media(min-width: 1000px){
        
    }

    @media(min-width: 600px) and (max-width:999px) {
        
    }
    
    .header_phone_number{
        margin-left: 5px;
        
        color: #A9C5E0;
        text-align: right;
    }

    .top_header{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    @media(min-width: 1000px){
        .top_header_right{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }

    @media(min-width: 600px) and (max-width:999px) {
        .top_header_right{
            display: flex;
            flex-direction: column-reverse;
            align-items:flex-end;
            text-align: right;
        }
    }
   

    .top_header_left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media(min-width: 1000px){
        .top_header_yellow_square{
            width: 170px;
            height: 52px;
            border: 1px solid #E5E31F;
            border-radius: 10px;
            display: flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            margin-left: 50px; 
        }
    }

    @media(min-width: 600px) and (max-width:999px) {
        .top_header_yellow_square{
            width: 170px;
            height: 52px;
            border: 1px solid #E5E31F;
            border-radius: 10px;
            display: flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            margin-top: 27px;
            margin-bottom: 27px;
            margin-left: 50px; 
        }
    }
    
    

    .in_button{
        font-family: Proxima Nova;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        color: #E5E31F;


    }

    .proxima_nova{
        font-family: Proxima Nova;
    }
    
    

    @media  (min-width: 1000px) {
        .container{
            padding-right: 135px;
            padding-left: 135px;
        }
    }
    
    .container_with_top{
        padding-top: 100px;
    }

    .slider_box{
        height: 600;
        overflow: hidden;
    }

    .info_container{
        background-color: white;
        color: #000000;
        padding-top: 96px;
        margin-bottom: 26px;
        display: flex;
        justify-content:center;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .info_steps_up{
        max-width: 1150px;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .info_steps_down{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
    }

    .info_box{
        width: 350px;
        margin-bottom: 114px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .info_header{
        margin-bottom: 148px;
        font-family: Proxima Nova Bold;
        font-size: 28px;
        line-height: 34px;
        color: #2A496B;
    }

    .info_box_mes{
        font-size: 20px; 
        color: #000000;
        font-family: Proxima Nova Bold;
        margin-bottom: 15px;
    }
    
    .info_box_comment{
        width: 320px;
        font-size: 15px; 
        color: #000000;
        font-family: Proxima Nova;
    }
    
    

    .bottom_container{
        height: 320px;
        background: #23415E;
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }



    .bottom_proxima_nova_white{
        width: 410px;
        height: 144px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align:left;
        align-items: center;
    }

    .bottom_line{
        margin-bottom: 25px;
        font-size: 15px;
        font-family: Proxima Nova;
        color:#fff;
    }

    .bottom_proxima_nova_blu{
        font-family: Proxima Nova;
        font-size: 15px;
        text-align:left;
        color: #A9C5E0;
    }

    .bottom_contact_box{
        width: 160px;
    }

   .slide_info_header{
        font-family: Proxima Nova Bold;
        font-size:64px;
        text-align:left;
        color: #ffffff;
        flex-wrap: wrap;
   }

   .slide_info_text{
        font-family: Proxima Nova;
        font-size:16px;
        text-align:left;
        color: #ffffff;
        flex-wrap: wrap;
   }

   .slide_yellow_button{
        font-family: Proxima Nova Bold;
        width: 240px;
        height: 52px;
        background: #E5E31F;
        border-radius: 10px;
        margin-top: 100px;
        color: #2A4F71;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        

    }

   .slide_box{
        width: 1450px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align:center;
   }

   .slider_box{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align:center;
        
    }
   .slide_picture{
        width: 510px;
        height: 612px; 
        position: relative;
        bottom: 0px;
   }
   
   .slider_line{
        width: 200vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        left: 0px;
        transition: all ease 1s;
        
   }

   .slide_text{
        padding-top: 100px;
        width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
   }

   .between_slides{
       width: 100px;
   }