
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    
    @font-face {
    font-family: Proxima Nova; 
    src: 
        url('./fonts/ProximaNovaExCn-Regular.ttf'); 
    }

    @font-face {
    font-family: Proxima Nova Bold; 
    src:
        url('./fonts/ProximaNovaExCn-Bold.ttf'); 
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        height: auto;
    }

    .container{
        padding-right: 135px;
        padding-left: 135px;
    }
    
    

    .slider_box{
        height: 600;
        overflow: hidden;
    }

    .info_container{
        background-color: white;
        color: #000000;
        padding-top: 96px;
        margin-bottom: 26px;
        display: flex;
        justify-content:center;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .info_steps_up{
        max-width: 1150px;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .info_steps_down{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
    }

    .info_box{
        width: 350px;
        margin-bottom: 114px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .info_header{
        margin-bottom: 148px;
        font-family: Proxima Nova Bold;
        font-size: 28px;
        line-height: 34px;
        color: #2A496B;
    }

    .info_box_mes{
        font-size: 20px; 
        color: #000000;
        font-family: Proxima Nova Bold;
        margin-bottom: 15px;
    }
    
    .info_box_comment{
        width: 320px;
        font-size: 15px; 
        color: #000000;
        font-family: Proxima Nova;
    }
    
    
   .slide_info_header{
        font-family: Proxima Nova Bold;
        font-size:64px;
        text-align:left;
        color: #ffffff;
        flex-wrap: wrap;
   }

   .slide_info_text{
        font-family: Proxima Nova;
        font-size:16px;
        text-align:left;
        color: #ffffff;
        flex-wrap: wrap;
   }

   .slide_yellow_button{
        font-family: Proxima Nova Bold;
        width: 240px;
        height: 52px;
        background: #E5E31F;
        border-radius: 10px;
        margin-top: 100px;
        color: #2A4F71;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        

    }

   .slide_box{
        width: 1450px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align:center;
   }

   .slider_box{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align:center;
        
    }
   .slide_picture{
        width: 510px;
        height: 612px; 
        position: relative;
        bottom: 0px;
   }
   
   .slider_line{
        width: 200vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        left: 0px;
        transition: all ease 1s;
        
   }

   .slide_text{
        padding-top: 100px;
        width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
   }

   .between_slides{
       width: 100px;
   }